/* common shared styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.width {
    max-width: 1060px;
    margin: 0 auto;
}

.travel-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.light-gray-text {
    color: #5A5A5D;
}

.deep-gray-text {
    color: rgba(19, 19, 24, 0.70);
}

.orange-text {
    color: #FF5400;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.semi-section-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    background-color: #FF5400;
    padding: 12px 36px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

/* header section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu-icon {
    color: #131318;
    font-size: 28px;
    display: none;
}

nav .nav-links {
    display: flex;
    gap: 30px;
}

nav .nav-links li {
    list-style: none;
}

nav .nav-link-text {
    color: #424247;
    font-size: 18px;
    text-decoration: none;
}

.banner {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    padding: 70px 140px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 12px;
}

.banner-description {
    margin-bottom: 12px;
    color: #FFF;
}

.banner-form {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.banner-form input[type="text"],
select {
    color: rgba(19, 19, 24, 0.50);
    border: 0;
    outline: none;
    border-radius: 8px;
    padding: 0 8px;
    margin-bottom: 0;
    width: 150px;
    background-color: #FFF;
}

.btn-find-now {
    color: #FFF;
    border: 0;
    padding: 16px 28px;
    font-weight: 700;
    border-radius: 5px;
    background: #FF5400;
}

.banner-form .btn-find-now i {
    margin-bottom: 0;
}

/* main section styles */
/* footer section styles */
footer {
    padding: 60px 150px;
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}

footer>p {
    margin-top: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer hr {
    margin: 28px 0;
}

footer .footer-small-text {
    font-family: 'Inter', sans-serif;
    color: #131318;
    font-weight: 300;
}

/* responsive for smaller devices */
@media screen and (max-width: 600px) {
    nav .nav-links {
        display: none;
    }

    nav .menu-icon {
        display: inline;
    }

    .banner-form {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .banner-form input[type="text"],
    select, .btn-find-now {
        width: 80%;
        height: 45px;
    }

    header,
    .banner,
    footer {
        padding: 20px;
    }
}