/* common shared styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.width {
    max-width: 1060px;
    margin: 0 auto;
}

.travel-name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel-title {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.light-gray-text {
    color: #5A5A5D;
}

.deep-gray-text {
    color: rgba(19, 19, 24, 0.70);
}

.orange-text {
    color: #FF5400;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.semi-section-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    background-color: #FF5400;
    padding: 12px 36px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

/* header section styles */
/* main section styles */
/* footer section styles */
footer {
    padding: 60px 150px;
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
}
footer > p{
    margin-top: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer hr{
    margin: 28px 0;
}

footer .footer-small-text {
    font-family: 'Inter', sans-serif;
    color: #131318;
    font-weight: 300;
}

/* responsive for smaller devices */
@media screen and (max-width: 600px) {
    footer{
        padding: 20px;
    }
}